<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
    <title>Processing Page</title>
</head>
<body>
    <h1>Processing Payment</h1>
    <div class="payment-details">
        <div class="payment-box service">
            <h2>Service</h2>
            <p>{{ service }}</p>
        </div>
        <div class="payment-box total">
            <h2>Total Price</h2>
            <p>${{ total }}</p>
        </div>
        <div class="payment-box reward">
            <h2>ChiroCoin Rewards</h2>
            <p>${{ reward }}</p>
        </div>
        <div class="payment-box transaction-fee">
            <h2>Transaction Fee</h2>
            <p>${{ transaction_fee }}</p>
        </div>
    </div>

    <div class="button-container">
        <button id="connect-wallet">Connect Wallet</button>
        <button id="confirm-payment">Confirm Payment</button>
        <button id="cancel-payment">Cancel Payment</button>
    </div>
</body>
</html>
